@import "../../common/colors.scss";

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
  .tasks {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 20px;
    background-color: rgb(218, 184, 106);
    .tasks__heading {
      font-size: 30px;
      color: #fff;
      font-weight: 500;
    }
  }
  .completed {
    background-color: rgb(235, 103, 80);
  }
}
