.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 3em;
  padding: 1.3em 1.3em;
  font-size: 1.1em;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px #0000;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.button-submit {
  position: absolute;
  width: 3em;
  height: 3em;
  margin: 12px;
  border-radius: 3em;
  right: 0;
  border: none;
  font-size: 1em;
  background-color: #2f74c0;
  color: #fff;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.button-submit:hover {
  background-color: #388ae2;
}

.button-submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
